/* ANIMATIONS */

@media (min-width: 768px){

    @keyframes left-to-right {
        from {
            transform: translateX(-100vw);
            opacity: 0;
        }      
        to {
            transform: translateX(0);
            opacity: 1;
        }
      }

      @keyframes bottom-to-top {
        from {
            transform: translateY(100vh);
        }      
        to {
            transform: translateY(0);
        }
      }

      @keyframes width{
        from {
            width: 100vw;
        }      
        to {
            width: 65%;
        }
      }
      
      @keyframes fade-in{
        from {
            opacity: 0;
        }      
        to {
            opacity: 1;
        }
      }
}

/* MOBILE */

@keyframes top-to-bottom {
    from {
        transform: translateY(-100vh);
        opacity: 0;
    }      
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }

  @keyframes height {
    from {
        height: 100vh;
    }      
    to {
        height: 30%;
    }
  }

  /* GLOBAL */


  @keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
      opacity: 0;
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      opacity: 1;
    }
  }

  button {
    transition: all .1s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.05);
  }


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }