
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

$white: #ffffff;
$black: #000000;
$gray: #A4A4A4;
$main: #1C2956;
$second: #C7203C;


body {
    font-family: 'Poppins', sans-serif;
    color: $black;
    overflow-x: hidden;
    background: $white;
}

.red {
    background: $second !important;
}

.hidden::before {
    display:none;
}

.hide {
    display: none;
}

.main_about--content--step--image:last-of-type(2) {
    background: red !important;
}

::-webkit-scrollbar{
    width: 9px;
    height: 9px;
    }
    ::-webkit-scrollbar-thumb{
    background: #a1a1a1;
    border-radius: 16px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
    }
    ::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }

    

  button {
    transition: all .1s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.05);
  }